MONGODB_URI=
PORT=3000
NODE_ENV=development

# OAuth Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
ORCID_CLIENT_ID=
ORCID_CLIENT_SECRET=
SESSION_SECRET=
APP_URL=https://ais-dev-fe347dnr6gk36mcpfdtwbp-104883952255.asia-southeast1.run.app


